@charset "UTF-8";

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84; 
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor6: rgb(203, 211, 218);

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
    font-family: var(--fonte-padrao);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

main {
   position: relative;
   height: 100vh;
   width: 100vw;

}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 260px;
    height: 500px;
    border-radius: 20px;
    box-shadow:0px 0px 0px 10px rgba(0, 0, 0, 0.450);
}

section#login > div#imagem {
   display: block; 
   background: url(../static/metal.jpg);    
   background-size: cover;
   background-position: left bottom;
   height: 200px;

} 

section#login  > div#formulario {
   display: block;
   padding: 10px;
   margin: 10px;
}

