@charset "UTF-8";

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84; 
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}



html body {
       height: 100vh;
       width: 100vw;
       background-color: rgb(203, 211, 218);
}

main {
   position: relative;
   height: 100vh;
   /*background-color:var(--cor3);*/
   background-color: rgb(203, 211, 218);
} 

section#pgna {
     position: absolute;
    /* top: 50%;
     left: 50%;
     transform: -50% -50%;
     height: 500px;
     width: 500px;
     background-color: blue;
    */
    }



body > article > p {
  color:  rgb(20, 1, 1);  
  margin-right: auto;
  text-align: justify;
  width: 500px;
} 

a {
    background-color: white;
} 
 a:hover {
    background-color: rgb(21, 145, 124);
 }

 .texto {
    text-align: left;
    width: 500px;
 }

 

 aside > img {
    
    position: absolute;
    left: 860px;
    top: 100px;
    width: 300px;
    height: 200px;
    

}


h1{
    font-family: var(--fonte-padrao);
    margin: auto;
    text-align: center;
}

h1:hover {
    background-color: bisque;
}