@charset "UTF-8";


 *{
   margin: 0px;
   padding: 0px;
   
  
}
/*essa classe definida diretamente nesse arquivo css*/
.hide {
    display: none;
}

.texto > input#botao {
    position: absolute;
    border-radius: 10px;
    color: var(--cor4);
    left: 35px;
    height: 30px;
}


 

.texto > input#botao:hover {
      
    background-color: rgb(227, 227, 239);
}

select#flista {
    position: absolute;
    width: 170px;
    height: 130px;
    top: 465px;
    left: 58px;
    border-radius: 7px;
     
} 

aside#imagem2 > img#tv {
       
    padding: 10px;
    top: 400px;
    left: 30px;
    width: 300px;
    height: 200px
    
        
   }

 
     
   div#contem {
    position: absolute;
    width: 560px;
    height: 345px;
    background-color: red;
    display:none;
    left: 800px; 
    top: 600px; 
    
    }
 aside#imagem1 > img#chico {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 10px;
  
}

 body#corpo {
    position: relative;  
    display: block;
    width: auto;
    padding: 25px;
    left: 8px;   
} 
   

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84; 
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

@media screen  and (min-width: 30px) and (max-width: 660px) {
     
       
    aside#imagem1 > img#chico {
        top: 920px;
       
    }  
    aside#imagem2 > img#tv {
       
        padding: 10px;
        top: 440px;
        left: 30px;
        width: 400px;
        height: 300px;
        
            
       }
    
    body#corpo {
        position: relative;  
        display: block;
        width: auto;
        padding: 0px;
        left: 0px;  
     } 
     select#flista {
        position: absolute;
        width: 240px;
        height: 230px;
        top: 590px;
        left: 30px;
        border-radius: 7px;
         
    } 
    
    footer {
    
     
        top: 1500px;
     
    
    }

}



/*@media screen  and (min-width: 768px) and (max-width: 992px) {*/
@media screen  and (min-width:661px) and (max-width: 992px) {
            

    aside#imagem1 > img#chico {
        left: 460px;
        top: 200px;
 
    }  
    select#flista {
        top: 445px;
    }
        
     }


@media screen and (min-width: 992px) {

    
    aside#imagem1 > img#chico {
        left: 800px;
        top: 200px;

      
    }  
    select#flista {
        top: 427px;
    }
 
}











 p#informacao {
   margin-left: 5px;
   text-align: justify;
}

 .texto {   
  color:  rgb(20, 1, 1);  
  margin-right: auto;
  text-align: justify;
  margin-left: 15px;
  padding: 10px;
  width: auto; 
} 

a {
    margin: 10px;
    background-color: white;
} 
 a:hover {
    background-color: rgb(21, 145, 124);
 }



 




h1#centrado{
    font-family: var(--fonte-padrao);
    margin: auto;
    text-align: center;
}

h1:hover {
    background-color: bisque;
}

footer {
    
    position: absolute;
    top: 1300px;
    background-color: var(--cor5);
    color:blue;
    width: 100%;

    font-size: 0.8em;
    padding: 5px;

}

footer a {
   color: var(--cor5);
   font-weight: bolder;
   text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);

}

footer p#rodape {
    

    color: white;
}

footer a#ligado {
     
    color: #063d1e;
}    
